.information {
  width: 100%;
  margin: 20px 0;
}

.information .container {
  width: 95%;
  margin: 0 auto;
}

.information h1 {
  width: 40%;
  margin: 0 auto;
  font-size: 24px;
  padding: 10px;
  background: rgba(0, 0, 0, .9);
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

.information h2 {
  background: url(../img/header-back.jpg);
  background-size: cover;
  object-fit: cover;
  margin: 20px 0;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
}

.information section + section {
  margin-top: 20px;
}

.information h3 {
  width: 100%;
  margin: 0px auto 20px;
  background: rgba(0, 0, 0, .9);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 17px;
}

.information img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  vertical-align: middle;
}

.information table {
  width: 100%;
  font-size: 13px;
  margin-bottom: 25px;
  border: 1px solid #000;
  border-collapse: collapse;
}

.information .table-head {
  border: 1px solid #000;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  background: rgba(224, 118, 57, 0.705)
}

.information tr td {
  border: 1px solid #000;
  padding: 10px;
  background: #fff;
}

.information tr td a {
  color: #000;
}

.information iframe {
  width: 100%;
  height: 379px;
}

@media (min-width: 750px) {

  .information .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .information section {
    width: 30%;
  }

  .information section + section {
    margin-top: 0;
  }

  .information table {
    width: 49%;
  }

  .information iframe {
    width: 49%;
  }
}