/* common */

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  font-family: serif, "MS PMincho", "Helvetica Neue", Helvetica, sans-serif;
  background: url(../img/all-background12.png);
  background-size: cover;
  object-fit: cover;
  z-index: -1
}

.container {
  width: 90%;
  margin: 0px auto;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  background: rgb(255, 249, 158);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .7)
}

header .sp-header .container {
  display: flex;
  align-items: center;
}

header .sp-header div + div {
  margin-left: 20px;
}

header .sp-header a {
  color: #000;
}

header .sp-header i {
  font-size: 27px;
  cursor: pointer;
}

header .sp-header i.tel-mark {
  font-size: 22px;
}

.hg-menu .btn-gnavi {
  top: 10px;
}

.hg-menu .btn-gnavi span {
  width: 28px;
  background: #000;
  border-radius: 10px;
}

.hg-menu .btn-gnavi span + span {
  margin-top: -1px;
}

header .pc-header {
  display: none;
}

header .pc-header-back {
  display: none;
}

/* pc-hero */

.pc-hero {
  display: none;
}

/* space */

.space {
  margin-top: 40px;
}

/* sub-header */

.sub-header {
  width: 100%;
  background: url(../img/header-back.jpg);
  background-size: cover;
  object-fit: cover;
  text-align: center;
}

.sub-header .container {
  width: 50%;
  margin: 0 auto;
  padding: 2.75px 0;
}

.sub-header h1 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 4px;
}

.sub-header img {
  width: 125px;
  vertical-align: middle;
}

/* menu */

.menu {
  margin: 20px 0;
}

.menu h1 {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  font-size: 24px;
  background: rgba(0, 0, 0, .9);
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

.menu h2 {
  margin: 20px 0;
  padding: 5px 0;
  background: url(../img/header-back.jpg);
  background-size: cover;
  object-fit: cover;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.menu .container + .container {
  margin-top: 20px;
}

.menu .container > div {
  background: #fff;
}

.menu p {
  font-weight: bold;
}

.menu img {
  width: 100%;
  height: 150px;

  object-fit: cover;
  vertical-align: middle;
}

.menu .contents {
  font-size: 12px;
  text-align: center;
}

.menu .name {
  margin: 10px 10px 0;
  font-size: 15px;
}

.menu .plice {
  margin: 0 10px;
  font-size: 15px;
  text-align: right;
}

.pc-menu {
  display: none;
}

/* footer */

footer {
  width: 100%;
  background: rgb(197, 199, 194);
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

footer nav {
  width: 75%;
  margin: 0 auto;
}

footer ul {
  display: flex;
  margin-bottom: 13px;
}

footer li {
  width: 30%;
}

footer a {
  color: #000;
  font-size: 12px;
}

/* large screen */

@media (min-width: 750px) {
  /* header */

  header {
    background: none;
    box-shadow: none;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  header .pc-header-back {
    display: block;
    width: 100%;
    height: 200px;
    background: url(../img/header-back.jpg);
    background-size: cover;
    object-fit: cover;
    opacity: .8;
    position: relative;
  }

  header .pc-header .container {
    width: 95%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    align-items: center;
  }

  header .pc-header .container ul {
    display: flex;
  }

  header .pc-header .container li {
    width: 50px;
    text-align: center;
  }

  header .pc-header .container li a {
    color: #fff;
    writing-mode: vertical-lr;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 8px;
    transition: opacity .3s;
  }

  header .pc-header .container li a:hover {
    opacity: .7;
  }

  header .pc-header {
    display: block;
  }

  header .sp-header {
    display: none;
  }

  /* pc-hero */

  .pc-hero {
    display: block;
    position: relative;
    z-index: 9;
  }

  .pc-hero .hero-back-img {
    display: flex;
  }

  .pc-hero .hero-back-img img {
    width: 50%;
    height: 550px;
  }

  .pc-hero h1 {
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 4px 3px #000;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* space */

  .space {
    display: none;
  }

  /* sub-header */
  .sub-header {
    display: none;
  }

  /* menu */

  .pc-menu {
    display: block;
    margin: 35px 0;
  }

  .pc-menu h2 {
    background: url(../img/header-back.jpg);
    background-size: cover;
    object-fit: cover;
    font-size: 25px;
    padding: 10px 0;
    color: #fff;
    text-align: center;
  }

  .pc-menu .container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0px auto;
    padding: 35px 0;
  }

  .pc-menu .menu-text {
    width: 63%;
  }

  .pc-menu .menu-text h2{
    background: rgba(0, 0, 0, .9)
  }

  .pc-menu table {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
  }
  
  .pc-menu table td {
    padding: 10px;
    border-bottom: 1px dotted #000;
  }

  .pc-menu table .pc-menu-plice {
    text-align: right;
  }

  .pc-menu .menu-img {
    width: 35%;
    text-align: right;
  }

  .pc-menu .menu-img p {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
  }

  .pc-menu img {
    width: 401.31px;
    height: 200px;
    object-fit: cover;
    vertical-align: middle;
  }


  .menu {
    display: none;
  }

  /* footer */
  
  footer {
    font-size: 15px;
  }

  footer a {
    font-size: 15px;
  }
}